.listado{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    max-width: 60%;
    margin-bottom: 30px;
}

.formulario-alta{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}

.btn-agregarOperacion{
    align-self: end;
    margin-top: 20px;
}


@media (max-width:900px) and (pointer: coarse) {
    table>:not(caption)>*>* {
        /*overwrites bootstrap table style so they fit in smaller screens*/
        padding:0.5rem 0.5rem!important;  
    }
}

@media screen and (min-width:1000px){
    .contenedor-home{
        margin-left:16%;
        margin-right:16%;
    }

    .contenedor-alta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

