{{#each dataFiltrada}}
<tr class="table-active">
    <th scope="row">{{concepto}}</th>
    <td>{{monto}}</td>
    <td>{{fecha}}</td>
    <td>{{tipo}}</td>
    <td> <button type="button" onclick="borrar()"> X </button></td>
</tr>
{{/each}}